
    <article class="git-panel git-file-panel" data-git-panel-section="blob">
      <header class="git-file-header">
        <h4 class="git-file-title">page.ejs</h4>
        <div class="git-file-meta">
          <span>105 B</span>
          <span>static-sitegen/templates/page.ejs</span>
        </div>
      </header>
      <div class="git-file-body">
        <pre><code>&lt;%- include(&#039;base.ejs&#039;, { 
  site: site, 
  page: page,
  content: content,
  isSection: isSection
}) %&gt;
</code></pre>
      </div>
    </article>
  