body {
  width: 35em;
  margin: 0 auto;
  font-family: 'Rubik Iso', cursive;
  background-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hscroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hscroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#tagline {
  color: #66ff00;
  font-size: 2em;
  opacity: 0;
}

#console {
  padding: 0.8rem;
  outline: 0.2rem solid #66ff00;
  border-radius: 8px;
  width: 540px;
  min-width:  540px;
  height: 406px;
  min-height: 406px;
}

#foot {
  width: 30em;
  color: #66ff00;
  font-family: 'Syne Mono', monospace;
  margin: auto;
}

.screen {
  outline: 0.1rem solid #66ff00;
  border-radius: 8px;
  width: 540px;
  min-width:  540px;
  height: 396px;
  min-height: 396px;
  margin-top: -5px;
  color: #66ff00;
  font-family: 'Syne Mono', monospace;
  overflow-y: auto;
}

.term {
  background: black;
  background-color: black;
  color: #66ff00;
  width: 98.5%;
  font-family: 'Syne Mono', monospace;
}

p.wopr {
  color: #66ff00;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  opacity: 1;
}
